$highlightColor: #41f6d7;
$mainBackColor: #f8f8f8;
$mainColor: #1b1c21;
$grey: #7e7e82;

.main-container {
  max-width: 100%;
  position: relative;
  @media (min-width: 1120px) {
    position: relative;
  }
  &_transparent {
    opacity: 0.1;
    pointer-events: none;
  }
  & .gradient {
    position: absolute;
    right: 0;
    top: 0;
    z-index: 2;
    width: 24px;
    height: 100%;
    background: linear-gradient(
      270deg,
      #f8f8f8 16.84%,
      rgba(248, 248, 248, 0.0001) 100%
    );
  }
}

.header {
  &__container {
    padding: 20px 14px;
    padding-right: 0;
    border-bottom: 1px solid #d9fff5;
    background: white;
    position: relative;
    z-index: 3;
    @media (min-width: 768px) {
      padding: 20px 24px;
    }
    @media (min-width: 1120px) {
      padding: 20px 32x;
    }
  }
  &__menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  @media (min-width: 1120px) {
    display: none;
  }
}

.menu {
  &__list {
    display: flex;
    gap: 0 20px;
    align-items: center;
    @media (min-width: 768px) {
      display: flex;
      flex-direction: row-reverse;
      margin-left: 240px;
    }
  }
  & .middle-screen__menu {
    display: none;
    @media (min-width: 768px) {
      display: flex;
      gap: 16px;
    }
  }
  &__logo {
    @media (min-width: 768px) {
      margin-left: 4px;
    }
  }
  &__btn {
    width: 40px;
    height: 40px;
    background-size: cover;
    opacity: 1;
    transition: opacity 0.3s ease-out; ///////////
    & :hover {
      opacity: 0.7;
    }
    &_burger {
      background-image: url('../images/burger.svg');
      @media (min-width: 768px) {
        order: -2;
        margin-right: 4px;
      }
    }
    &_repair {
      background-image: url('../images/repair.svg');
    }
    &_checkstatus {
      background-image: url('../images/checkstatus.svg');
      @media (min-width: 768px) {
        margin-left: 4px;
      }
    }
    &_call {
      background-image: url('../images/call.svg');
    }
    &_chat {
      background-image: url('../images/chat.svg');
    }
    &_profile {
      background-image: url('../images/profile.svg');
      @media (min-width: 768px) {
        margin-right: 4px;
      }
    }
    &_profile {
      background-image: url('../images/profile.svg');
      @media (min-width: 768px) {
        margin-right: 4px;
      }
    }
  }

  &__divider {
    width: 2px;
    height: 32px;
    background-image: url('../images/divider.png');
    &_first {
      @media (min-width: 768px) {
        order: -1;
      }
    }
  }
}

.top {
  & .container {
    padding: 20px 0px;
    border-bottom: 1px solid #d9fff5;
    background-color: #f8f8f8;
  }
  &__inner {
    width: 100%;
  }
  &__menu {
    padding-left: 14px;
    @media (min-width: 768px) {
      padding-left: 22px;
    }
    @media (min-width: 1120px) {
      padding: 32px;
      display: flex;
      justify-content: space-between;
    }
  }
  &__title {
    font-weight: 700;
    font-size: 28px;
    line-height: 40px;
    letter-spacing: -0.6px;
    margin-bottom: 24px;
    @media (min-width: 768px) {
      margin-left: 6px;
    }

    &::before {
      content: '';
      position: absolute;
      left: 0px;
      color: $highlightColor;
      width: 3px;
      height: 40px;
      background-image: url('../images/highlight.png');
    }
  }
  & .big-screen {
    &__items {
      display: none;
      @media (min-width: 1120px) {
        display: flex;
        gap: 160px;
      }
    }

    &__btn {
      width: 40px;
      height: 40px;
      background-size: cover;
      opacity: 1;
      transition: opacity 0.3s ease-out;
      @media (min-width: 1120px) {
        &::before {
          white-space: nowrap;
          position: relative;
          right: 130px;
          font-weight: 500;
          font-size: 16px;
          font-weight: 500;
          line-height: 24px; /* 150% */
          letter-spacing: -0.2px;
        }
      }

      &_repair {
        background-image: url('../images/repair.svg');
        @media (min-width: 1120px) {
          &::before {
            content: 'Оставить заявку';
          }
        }
      }

      &_checkstatus {
        background-image: url('../images/checkstatus.svg');
        @media (min-width: 768px) {
          margin-left: 4px;
        }
        @media (min-width: 1120px) {
          &::before {
            content: 'Статус ремонта';
          }
        }
      }
      & :hover {
        opacity: 0.7;
      }
    }
  }
  & .services-list {
    display: flex;
    align-items: center;
    gap: 15px 28px;
    white-space: nowrap;
    color: $grey;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px; /* 150% */
    letter-spacing: -0.2px;
    margin-bottom: 24px;
    padding-left: 16px;
    overflow: auto;
    @media (min-width: 768px) {
      margin-bottom: 32px;
      padding-left: 24px;
    }
    @media (min-width: 1120px) {
      flex-wrap: wrap;
      padding-left: 34px;
    }
    &__item_active {
      border-radius: 6px;
      border: 2px solid #b8ffec;
      background: #fff;
      padding: 8px 8px 9px 16px;
    }
  }
  &__description {
    display: flex;
    flex-direction: column;
    @media (min-width: 768px) {
      flex-direction: row;
      gap: 48px;
    }

    & .cps-img {
      width: 100vw;
      position: relative;
      z-index: 3;
      @media (min-width: 768px) {
        width: 360px;
        height: 220px;
        padding-right: 24px;
      }
      @media (min-width: 1120px) {
        width: 530px;
        height: 300px;
        padding-right: 28px;
      }
    }
  }
}

.description {
  &__block {
    flex: 1 1 auto;
    padding-left: 16px;
    padding-right: 10px;
    @media (min-width: 768px) {
      padding-left: 24px;
      padding-right: 0;
    }
    @media (min-width: 1120px) {
      padding-left: 34px;
    }
  }

  &__text {
    font-size: 14px;
    line-height: 18px; /* 142.857% */
    letter-spacing: 0.2px;
    margin-bottom: 16px;
    @media (min-width: 768px) {
      margin-bottom: 10px;
      line-height: 20px;
    }
    @media (min-width: 1120px) {
      margin-bottom: 14px;
    }
  }

  & .text__par {
    height: 90px;
    overflow: hidden;
    @media (min-width: 768px) {
      min-height: 160px;
      overflow: hidden;
    }
  }

  &__text_more {
    display: none;
  }

  &__btn {
    font-weight: 500;
    font-size: 16px;
    line-height: 24px; /* 150% */
    letter-spacing: -0.2px;
    margin-bottom: 13px;
    padding-left: 32px;
    position: relative;

    &::before {
      content: '';
      position: absolute;
      left: 0;
      color: $highlightColor;
      width: 24px;
      height: 24px;
      background-image: url('../images/expand.svg');
    }

    &_hidden {
      font-weight: 500;
      font-size: 16px;
      line-height: 24px; /* 150% */
      letter-spacing: -0.2px;
      margin-bottom: 13px;
      padding-left: 32px;
      position: relative;
      display: none;

      &::before {
        content: '';
        position: absolute;
        left: 0;
        color: #41f6d7;
        width: 24px;
        height: 24px;
        background-image: url('../images/hide.svg');
      }
    }
  }
}
